@import "../../styles/var";
.blog {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .main {
      .title {
        text-transform: uppercase;
        color: $primary;
        font-size: 25px;
        margin: 25px 20px;
      }
      .items {
        column-count: 3;
        column-gap: 50px;
        column-rule: 2px double $primary;
      }
      // .item {
      //   break-inside: avoid;
      //   // border-bottom: 2px solid $primary;
      // }
      // .content {
      //   padding: 15px;
      //   .img {
      //     width: 100%;
      //     img {
      //       width: 100%;
      //       object-fit: cover;
      //     }
      //   }
      //   .text {
      //     .titleText {
      //       font-size: 18px;
      //       font-weight: 500;
      //     }
      //     .intro {
      //       margin: 10px 0;
      //       p {
      //         font-size: 12px;
      //         overflow: hidden;
      //         text-overflow: ellipsis;
      //         display: -webkit-box;
      //         -webkit-line-clamp: 2;
      //         -webkit-box-orient: vertical;
      //         color: $primary;
      //       }
      //     }
      //   }
      //   .button {
      //     display: flex;
      //     font-size: 12px;
      //     span {
      //       cursor: pointer;
      //       display: flex;
      //       align-items: center;
      //     }
      //   }
      // }
      // .item:first-child .content {
      //   margin-top: 0;
      // }
    }
  }
}

@media only screen and (max-width: 768px) {
  .items {
    column-count: 2 !important;
  }
}
@media only screen and (max-width: 576px) {
  .items {
    column-count: 1 !important;
  }
}
