@import "../../styles/var";
.card {
  background-color: rgba(239, 239, 239, 0.283);
  padding: 16px;
  h4 {
    margin: 0 0 16px 0;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 2;
    text-align: justify;
    img {
      width: 80px;
      height: 80px;
      float: left;
      border-radius: 100%;
      margin: 0 10px 0px 0;
    }
  }
}
