$primary: #572c0e;
$secondText: #a9a9a9;
$bgPrimary: #ffffff;
$borderCard: #ebebeb;
$secondBg: #f6f6f6;

//     xs: '480px',
//     sm: '576px',
//     md: '768px',
//     lg: '992px',
//     xl: '1200px',
//     xxl: '1600px',
