@import "../../styles/var";
.topEmployers {
  padding: 0 30px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .main {
      .list {
        margin: 30px 0 !important;
      }
    }
  }
}
