@import "../../styles/var";

.flex {
  display: flex;
  align-items: center;
  margin: 0 16px 8px 0;
  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 8px;
  }
}
